<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link href="https://fonts.googleapis.com/css?family=Exo|Monda|Orbitron|Rajdhani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
           
           <div id="basket"><h2>Корзина</h2>
                <div id="addBasket" v-bind:style="{display:isVisibleCart}" id="addBasket">
                    
                </div>
            </div>
           
            <form action="#" class="search-form">
                <input type="text" class="search-field" v-model="searchLine">
                <button class="btn-search" type="submit" @click='FilterGoods($event)'>
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <button class="btn-cart" type="button" @click="isVisibleCart!='block' ? isVisibleCart='block' : isVisibleCart='none'">КОРЗИНА</button>
            
            <div id="searchField">
                
            </div>
            
            
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="product of products" :key="product.id_product" :id="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}} $</p>
                    <button class="buy-btn" @click="addProduct(product)" :id="product.id_product">Купить</button>
                </div>
            </div>
        </main>

        <!--befoestart-->
        <p>
            <!--afterstart-->
            <span></span>
            <!--beforeend-->
        </p>
        <!--afterend-->
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js" defer></script>

<!--
    <script>
        function openBasket(event) {

            let basket = document.getElementById('basket');
            basket.style = 'display: grid';
        }

        function closeBasket() {

            let basket = document.getElementById('basket');
            basket.style = 'display: none';
        }
    </script>
-->

</body></html>
